<div class="container-fluid">
<head id="vdo">
    <p><iframe width="100%" height="500px" src="https://www.youtube.com/embed/Jv3yzwe8bqA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</head>
<h5> " Not a better job to have to know that all day, you have been helping people to be better in their lives. "</h5>
<body id="bg">
<div class="jumbotron">
        <div class="container">
            <div class="container">
            <table>
                <h1><b>Welcome ! This is <b>John Bayo.</b></h1>
                <th>
                    <%= image_tag "profil.jpg", class: "profil" %>
                </th>
                <th class="style8">
                    
                           <p>John Bayo was born in Paris, France. He decided to come to United State at the age of 17 to
achieve his dream of being a professional basketball player.He speaks french fluently and
understands most of spanish. He went to Rocky Mountain College in Montana and obtained his
Business Management Degree. After College, He went back to France to play several years as
a professional basketball player. He realized really fast that he wanted to Help people in his
career so he moved his family to Arizona to be a Basketball coach. While coaching, he was also
helping people at the gym to make decision and get better lives by introducing them to Fitness.
Not a better job to have to know that all day, you have been helping people to be better in their
lives. His number 1 skill is Customer Service. After knowing about himself and his talent of
facilitating transaction, he obtain his Real Estate License to help people make better decision
and give them more knowledge at what could be their biggest life purchase. He also loves to
travel,play sports and go fishing when it is not too hot.</p></th>
                     
                </th>
            </table>
            </div>
    </div>
    </div>
     <head class="style">
        <div class="jumbotron2"> 
            <table>
                <th>
                    <%= image_tag "log.png", class: "logo" %>
                </th>
                <th>
                    <h1>
                          <b>What is Monkey Prod ?</b>
                    </h1>
                           <p>Mkp is a platform held by the Bayo family. It consists of helping people and connecting them so they can move forward in their life plans and not get stuck because of little details ... This platform is all available as groups on facebook and pages instagrams like "mkp plug", "PrepSchool USA" ect ... Do not hesitate to check it out and share !!!</p></th>
                     
                </th>
            </table>
        </div>
        <div class="style2">
        <div class="jumbotron4"> 
            <table>
                <th class="text">
                    <h1>
                          <b>Contact me !</b></br>
                    <hr>
                           <p>John Bayo</br>
                                Realtor</br>
                                West USA Realty - Team Minik</br>
                    <hr>
                                Call or Text:</br> 480-739-7791</br><hr>
                                <i class="fa fa-envelope-open"></i> <a href="mailto:ajohnbayo@gmail.com" class="mailto" style="color:#000000;">ajohnbayo@gmail.com</a></br>
                            </p>
                            </h1>
                </th>
                <th>
                    <%= image_tag "tm.jpg", class: "teamM" %>
                </th>
                
                     
                
            </table>
        </div>
        </div>
    </head>

</body>
</div>